.floating-plant {
  position: fixed;
  /* top: 0;
  left: 0; */
  height: 100px;
  width: 100px;
  z-index: 500;
}

.floating-plant2 {
  position: fixed;
  top: 300;
  left: 300;
  height: 50px;
  width: 50px;
  z-index: 500;
}